@import '../../styles/vars.scss';

.microphone {
  width: 100%;
  border: none;
  position: relative;
  background-color: transparent;
}

.listening {
  background-color: $color-light-blue !important;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: $color-light-blue;
    border: 5px solid $color-light-blue;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    animation: pulsate infinite 1.2s;
  }

  svg {
    fill: $color-primary !important;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
